<!DOCTYPE html>

<html lang="en" ng-app="makechange">

<head>

    <meta charset="utf-8">
    <title>Make Change</title>
    <meta name="description" content="Make change with the smallest possible number of bills and coins.">
    <meta name="author" content="Travis Sisti">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet/less" type="text/css" href="css/styles.less" />

    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/less.min.js" type="text/javascript"></script>

    <script src="js/app.js" type="text/javascript"></script>

    <!--[if IE]><link rel="shortcut icon" href="img/favicon.ico"><![endif]-->
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon.png">
    <link rel="icon" href="img/favicon.png">

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="column">
                <h2>Make Change</h2>
                <h5>Enter a $USD value</h5>
            </div>
        </div>

        <div class="row" ng-controller="makechangecontroller as mcc">

            <div id="input" class="three columns">
                <form name="changeform" novalidate>
                    <!-- regex borrowed and adapted from: http://stackoverflow.com/a/11780743 -->
                    <input type="number" name="inputvalue" min="0" step=".01" maxlength="9" ng-keypress="mcc.detectkey($event)" ng-model="mcc.inputvalue" ng-pattern="/^[0-9]\d*((\.\d{0,2})?)$/" ng-maxlength="15" placeholder="Enter a value">
                    <div class="error" ng-show="changeform.inputvalue.$error.maxlength">You must a value that is no longer than 15 places, including the decimal.</div>
                    <div class="error" ng-show="changeform.inputvalue.$error.pattern">You must enter a positive $USD value, with no more than two decimal places. For example: $1.25, $19.95, $100.01</div>
                    <button type="submit" class="button-primary" ng-click="mcc.convert()">Make Change</button>
                    <button type="submit" class="button-secondary" ng-click="mcc.reset()">Reset</button>
                </form>
            </div>

            <div class="one column">&nbsp;</div>

            <div id="output" class="eight columns">
                <div>
                    <div class="denomination" ng-repeat="unit in mcc.units">
                        <div class="facevalue {{ unit.type }} {{ unit.color }}">{{ unit.facevalue }}</div>
                        <div class="count"><span>x</span>{{ unit.count }}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>